@font-face {
  font-family: ubuntu;
  src: url(../public/Ubuntu-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: ubuntu;
}

.owl-carousel.off {
  display: block;
}

.overviewContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/Texture.png);
  min-height: calc(100vh - 100px);
  padding: 50px 50px;
}
.texture {
  background-image: url(../public/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.singlePokemon {
  width: 215px;
  background: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%);
  border-radius: 8px;
  padding: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.cardContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemonImg {
  border-radius: 8px;
  display: block;
  height: 215px;
  width: 215px;
  background-color: #f2f2f2;
}
.pokemon-img-container {
  max-height: 215px;
  max-width: 215px;
  overflow: hidden;
  border-radius: 8px;
}
.pokemonName {
  margin-top: 16px;
  font-size: 16px;
  font-family: ubuntu;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  margin-bottom: 8px;
}
.pokemonPowerContainer {
  display: flex;
}
.pokemonPowerContainer p,
.type-details .power,
.weekness-details .weekness {
  width: 80px;
  height: 24px;
  text-align: center;
  background: seagreen;
  color: #fff;
  margin-right: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer {
  display: flex;
  justify-content: center;
}

/* Blog Related CSS */

.blogContainer {
  padding: 50px 10%;
  min-height: calc(100vh - 100px);
  position: relative;
}
.blogContainer::before,
.pokemon-details-container::before {
  content: url("../public/Left.png");
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: -1;
  width: 8%;
  overflow: hidden;
}
.blogContainer::after,
.pokemon-details-container::after {
  content: url("../public/Left.png");
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  z-index: -1;
  width: 8%;
  overflow: hidden;
}
.pokemon-details-container {
  padding: 50px 10%;
  min-height: calc(100vh - 100px);
  position: relative;
}
.blogTitle {
  text-align: center;
  background-image: url(../public/Brush.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #257bc4;
  font-family: "ubuntu";
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 50px;
}
.blog-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 20px;
  grid-template-areas:
    "text-1 text-1 text-1 img-1-4 text-2 text-2 text-2"
    "text-3 text-3 img-2 img-1-4 img-3 text-4 text-4 "
    "text-5 text-5 text-5 img-1-4 img-5 text-6 text-6 "
    "text-7 text-7 text-7 text-7 img-5 text-6 text-6 "
    "text-7 text-7 text-7 text-7 text-8 text-8 text-8 ";
  row-gap: 20px;
}

.text-1 {
  grid-area: text-1;
}

.text-2 {
  grid-area: text-2;
}
.text-1 {
  grid-area: text-1;
}
.text-3 {
  grid-area: text-3;
}
.text-4 {
  grid-area: text-4;
}
.text-5 {
  grid-area: text-5;
}
.text-6 {
  grid-area: text-6;
}
.text-7 {
  grid-area: text-7;
}
.text-8 {
  grid-area: text-8;
}
.img-1-4 {
  grid-area: img-1-4;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-5 {
  grid-area: img-5;
}
.img-4 {
  margin-top: 20px;
}
p.pokemon-number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  z-index: 1;
  color: #000000;
}
.singlePokemonDetails {
  text-decoration: none;
  margin: 20px 45px;
}
.singlePokemonDetails:hover .singlePokemon {
  background: #257bc4;
}
.singlePokemonDetails:hover .singlePokemon p.pokemonName {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.singlePokemonDetails:not(hover) .singlePokemon p.pokemonName {
  transition: all 0.5s ease-in-out;
}
.singlePokemonDetails:hover .singlePokemon .pokemonImg {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.singlePokemonDetails:not(hover) .singlePokemon .pokemonImg {
  transition: all 0.5s ease-in-out;
}
.blog-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}

/* Details page */

.pokemon-name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  color: #257bc4;
}
.pokemon-details {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 30px;
}
.details-area {
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left-info photo right-info";
}

.details-area > * {
  padding: 10px;
}

.other-details table {
  width: 90%;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%);
  border: 5px solid transparent;
  margin-top: 65px;
  border-radius: 8px;
  border-image: linear-gradient(90deg, #fc7c23, #f366b9);
  border-image-slice: 1;
}
table.details-table td {
  padding: 20px;
}

.details-type {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  color: #000000;
}

.details-value {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.photo {
  text-align: center;
  grid-area: photo;
}
.left-info {
  grid-area: left-info;
}

.right-info {
  grid-area: right-info;
}

.photo img {
  max-width: 475px;
  width: 100%;
}

.power-list-container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.power-list-container .power,
.weekness-details .weekness {
  padding: 10px 0px;
  margin-bottom: 5px;
}

.power-title,
.weekness-title,
.stats-title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.weekness-details,
.stats {
  margin-top: 40px;
}
.progess-bar {
  height: 5px;
  width: 100%;
  background: #d9d9d9;
  margin: 10px 0px;
  border-radius: 5px;
  position: relative;
}

.progess-bar::before {
  content: "";
  height: 5px;
  width: 20%;
  background: #30a7d7;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}
.back-to-home {
  background: #ffcb05;
  border: 6px solid #2b73b9;
  border-radius: 4px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #fff;
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 70px;
}

.back-to-home span {
  padding-left: 10px;
}
@media (max-width: 1280px) {
  .text-3,
  .text-4,
  .text-5,
  .text-6,
  .text-7,
  .text-8 {
    display: none;
  }
  .blog-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    grid-template-areas:
      "text-1 text-1 text-1 text-1 text-1 text-1 text-1"
      "text-3 text-3 img-2 img-1-4 img-3 text-4 text-4 "
      "text-5 text-5 text-5 img-1-4 img-5 text-6 text-6 "
      "text-2 text-2 text-2 text-2 text-2 text-2 text-2 ";
    row-gap: 20px;
  }
  .details-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "left-info photo"
      "right-info right-info";
  }
  .details-area > * {
    margin-bottom: 50px;
  }
  .img-2,
  .img-3 {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .blog-grid-container {
    column-gap: 10px;
    row-gap: 10px;
  }
  .blog-img img {
    height: 100px;
    width: 100px;
  }
  .img-2,
  .img-3 {
    margin-top: 50px;
  }
  .details-area {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "photo"
      "left-info"
      "right-info";
  }
  .details-area {
    margin-top: 50px;
  }

  h1.pokemon-name {
    font-size: 35px;
    text-align: center;
  }
  .other-details table {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .blog-img img {
    height: 80px;
    width: 80px;
  }
  .img-2,
  .img-3 {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .blog-img img {
    height: 66px;
    width: 66px;
  }
  .img-2,
  .img-3 {
    margin-top: 33px;
  }
}
